Import Library

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Load data

In [ ]:
salaries_df = pd.read_csv('Salaries.csv')

Display Top 10 Rows of The Dataset

In [ ]:
salaries_df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

 Check Last 10 Rows of The Dataset

In [ ]:
salaries_df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
49720,49721,Cheryl Wong,IS Administrator 2,84175.04,0.00,0.00,36207.16,84175.04,120382.20,2012.0,NaN,San Francisco,NaN
49721,49722,Lorna Gotera,Patient Care Assistant,63995.00,18277.02,5039.30,33070.74,87311.32,120382.06,2012.0,NaN,San Francisco,NaN
49722,49723,Simon Ma,Transit Operator,62867.26,21012.84,288.50,36213.04,84168.60,120381.64,2012.0,NaN,San Francisco,NaN
49723,49724,Annette Taylor,Senior Management Assistant,84053.71,0.00,623.70,35702.10,84677.41,120379.51,2012.0,NaN,San Francisco,NaN
49724,49725,Evelyn Doria,Licensed Vocational Nurse,68865.60,18210.47,250.00,33053.16,87326.07,120379.23,2012.0,NaN,San Francisco,NaN
49725,49726,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0,NaN,San Francisco,NaN
49726,49727,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0,NaN,San Francisco,NaN
49727,49728,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0,NaN,San Francisco,NaN
49728,49729,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0,NaN,San Francisco,NaN
49729,49730,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns

In [ ]:
print ("Rows : ", salaries_df.shape[0])
print ("Columns : ", salaries_df.shape[0])

Rows :  148654
Columns :  148654

Data Cleaning

In [ ]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [ ]:
salaries_df.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay                 1
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               40409
Agency                  1
Status              40409
dtype: int64

In [ ]:
salaries_df.drop(['Status', 'Id', 'Notes', 'Agency'], axis=1, inplace=True)

In [ ]:
salaries_df.head(1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0

In [ ]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeName      49730 non-null  object
 1   JobTitle          49730 non-null  object
 2   BasePay           49730 non-null  float64
 3   OvertimePay       49729 non-null  float64
 4   OtherPay          49729 non-null  float64
 5   Benefits          13570 non-null  float64
 6   TotalPay          49729 non-null  float64
 7   TotalPayBenefits  49729 non-null  float64
 8   Year              49729 non-null  float64
dtypes: float64(7), object(2)
memory usage: 3.4+ MB

In [ ]:
# convert numeric columns to float instead of object.
salaries_df['BasePay'] = pd.to_numeric(salaries_df['BasePay'],errors='coerce')
salaries_df['OvertimePay'] = pd.to_numeric(salaries_df['OvertimePay'],errors='coerce')
salaries_df['OtherPay'] = pd.to_numeric(salaries_df['OtherPay'],errors='coerce')
salaries_df['Benefits'] = pd.to_numeric(salaries_df['Benefits'],errors='coerce')
salaries_df['TotalPay'] = pd.to_numeric(salaries_df['TotalPay'],errors='coerce')
salaries_df['TotalPayBenefits'] = pd.to_numeric(salaries_df['TotalPayBenefits'],errors='coerce')

# convert text column to string
salaries_df['EmployeeName'] = salaries_df['EmployeeName'].astype('string')
salaries_df['JobTitle'] = salaries_df['JobTitle'].astype('string')

# confirm changes
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49729 entries, 0 to 49728
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeName      49729 non-null  string
 1   JobTitle          49729 non-null  string
 2   BasePay           49729 non-null  float64
 3   OvertimePay       49729 non-null  float64
 4   OtherPay          49729 non-null  float64
 5   Benefits          13570 non-null  float64
 6   TotalPay          49729 non-null  float64
 7   TotalPayBenefits  49729 non-null  float64
 8   Year              49729 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), string(2)
memory usage: 3.8 MB

<ipython-input-48-1229a281147f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['BasePay'] = pd.to_numeric(salaries_df['BasePay'],errors='coerce')
<ipython-input-48-1229a281147f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['OvertimePay'] = pd.to_numeric(salaries_df['OvertimePay'],errors='coerce')
<ipython-input-48-1229a281147f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['OtherPay'] = pd.to_numeric(salaries_df['OtherPay'],errors='coerce')
<ipython-input-48-1229a281147f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['Benefits'] = pd.to_numeric(salaries_df['Benefits'],errors='coerce')
<ipython-input-48-1229a281147f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['TotalPay'] = pd.to_numeric(salaries_df['TotalPay'],errors='coerce')
<ipython-input-48-1229a281147f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['TotalPayBenefits'] = pd.to_numeric(salaries_df['TotalPayBenefits'],errors='coerce')
<ipython-input-48-1229a281147f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['EmployeeName'] = salaries_df['EmployeeName'].astype('string')
<ipython-input-48-1229a281147f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['JobTitle'] = salaries_df['JobTitle'].astype('string')

In [ ]:
# Mengubah tipe data kolom 'Year' menjadi datetime
salaries_df['Year'] = pd.to_datetime(salaries_df['Year'], format='%Y')


# confirm changes
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49729 entries, 0 to 49728
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeName      49729 non-null  string
 1   JobTitle          49729 non-null  string
 2   BasePay           49729 non-null  float64
 3   OvertimePay       49729 non-null  float64
 4   OtherPay          49729 non-null  float64
 5   Benefits          13570 non-null  float64
 6   TotalPay          49729 non-null  float64
 7   TotalPayBenefits  49729 non-null  float64
 8   Year              49729 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), string(2)
memory usage: 3.8 MB

<ipython-input-47-6713f8b251ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['Year'] = pd.to_datetime(salaries_df['Year'], format='%Y')

In [ ]:
# missing values

salaries_df.isnull().sum()

EmployeeName            0
JobTitle                0
BasePay                 0
OvertimePay             0
OtherPay                0
Benefits            36159
TotalPay                0
TotalPayBenefits        0
Year                    0
dtype: int64

In [ ]:
salaries_df['Benefits'] = salaries_df['Benefits'].fillna(0.00)
salaries_df['OvertimePay'] = salaries_df['OvertimePay'].fillna(0.00)
salaries_df['OtherPay'] = salaries_df['OtherPay'].fillna(0.00)

<ipython-input-51-f6fbee850861>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['Benefits'] = salaries_df['Benefits'].fillna(0.00)
<ipython-input-51-f6fbee850861>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['OvertimePay'] = salaries_df['OvertimePay'].fillna(0.00)
<ipython-input-51-f6fbee850861>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_df['OtherPay'] = salaries_df['OtherPay'].fillna(0.00)

In [ ]:
salaries_df[salaries_df.BasePay == 0].BasePay.count()

455

In [ ]:
salaries_df = salaries_df.drop(salaries_df[salaries_df.BasePay == 0].index)

Overall Statistics About The Dataframe

In [ ]:
salaries_df.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,49729,49729,49729.000000,49729.000000,49729.000000,13570.000000,49729.000000,49729.000000,49729.000000
unique,47200,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,KEVIN LEE,TRANSIT OPERATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,2388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,75599.985858,6231.691032,4608.484444,40370.376006,86440.161334,97456.389337,2011.272879
std,NaN,NaN,42292.198926,12801.333149,9146.248973,7395.457091,50271.855952,61527.144045,0.445444
min,NaN,NaN,0.000000,0.000000,0.000000,189.790000,0.000000,0.000000,2011.000000
25%,NaN,NaN,48472.430000,0.000000,20.330000,36080.740000,52917.430000,52917.430000,2011.000000
50%,NaN,NaN,77255.340000,102.380000,1380.000000,38795.040000,88278.700000,91561.890000,2011.000000
75%,NaN,NaN,105934.660000,6673.030000,5922.060000,43152.130000,119925.870000,140845.590000,2012.000000
max,NaN,NaN,302578.000000,245131.880000,400184.250000,84681.820000,567595.430000,567595.430000,2012.000000

Find Occurrence of The Employee Names  (Top 5)

In [ ]:
salaries_df['EmployeeName'].value_counts().head()

EmployeeName
KEVIN LEE       9
DAVID WONG      8
RICHARD LEE     8
MICHAEL LEE     8
WILLIAM WONG    7
Name: count, dtype: Int64

Find The Number of Unique Job Titles

In [ ]:
salaries_df['JobTitle'].nunique()

1681

Total Number of Job Titles Contain Captain

In [ ]:
len(salaries_df[salaries_df['JobTitle'].str.contains('CAPTAIN', case=False)])

279

In [ ]:
salaries_df[salaries_df['JobTitle'].str.contains('CAPTAIN')]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011-01-01
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011-01-01
11,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,0.0,297608.92,297608.92,2011-01-01
17,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,0.0,278569.21,278569.21,2011-01-01
22,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,0.0,273702.71,273702.71,2011-01-01
...,...,...,...,...,...,...,...,...,...
7223,WILLIAM BARTELS,"CAPTAIN, FIRE SUPPRESSION",65222.55,4564.27,42422.02,0.0,112208.84,112208.84,2011-01-01
8684,JEANNE SEYLER,"CAPTAIN, FIRE SUPPRESSION",95055.34,0.00,9197.14,0.0,104252.48,104252.48,2011-01-01
10485,JANE SMITH,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",74592.00,1538.59,18804.68,0.0,94935.27,94935.27,2011-01-01
11198,KATHRYN BROWN,CAPTAIN III (POLICE DEPARTMENT),10684.50,0.00,81244.87,0.0,91929.37,91929.37,2011-01-01
31297,MARCO CARNIGLIA,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",9839.72,0.00,1203.77,0.0,11043.49,11043.49,2011-01-01

In [ ]:
salaries_df[salaries_df['JobTitle'].str.contains('CAPTAIN', case=False)].count()

EmployeeName        278
JobTitle            278
BasePay             278
OvertimePay         278
OtherPay            278
Benefits            278
TotalPay            278
TotalPayBenefits    278
Year                278
dtype: int64

Find Minimum, Maximum, and Average BasePay

In [ ]:
salaries_df['BasePay'].describe()

count     49274.000000
mean      76298.082087
std       41855.492974
min          14.250000
25%       49740.865000
50%       77581.555000
75%      105934.670000
max      302578.000000
Name: BasePay, dtype: float64

In [ ]:
salaries_df.drop(salaries_df[salaries_df.isnull().sum(axis=1) == 5].index, axis=0, inplace=True)

In [ ]:
salaries_df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,0.00,567595.43,567595.43,2011-01-01
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.00,538909.28,538909.28,2011-01-01
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.00,335279.91,335279.91,2011-01-01
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,0.00,332343.61,332343.61,2011-01-01
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.00,326373.19,326373.19,2011-01-01
...,...,...,...,...,...,...,...,...,...
49724,Evelyn Doria,Licensed Vocational Nurse,68865.60,18210.47,250.00,33053.16,87326.07,120379.23,2012-01-01
49725,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012-01-01
49726,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012-01-01
49727,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012-01-01
49728,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012-01-01

Find Job Title of ALBERT PARDINI

In [ ]:
salaries_df[salaries_df['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: string

How Much ALBERT PARDINI Make (Include Benefits)?

In [ ]:
salaries_df[salaries_df['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

.Display Name of The Person Having The Highest BasePay

In [ ]:
salaries_df[salaries_df['BasePay'].max() == salaries_df['BasePay']]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
36160,Gregory Suhr,Chief of Police,302578.0,0.0,18974.11,69810.19,321552.11,391362.3,2012-01-01

. Find Top 5 Most Common Jobs

In [ ]:
salaries_df['JobTitle'].value_counts().head()

JobTitle
TRANSIT OPERATOR    2329
SPECIAL NURSE       1399
REGISTERED NURSE    1203
Registered Nurse     996
CUSTODIAN            789
Name: count, dtype: Int64

 Find Average BasePay of All Employee Per JobTitle

In [ ]:
salaries_df.groupby('JobTitle')['BasePay'].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        58303.965000
ACCOUNTANT INTERN                                 28732.663958
ACUPUNCTURIST                                     66374.400000
ADMINISTRATIVE ANALYST                            64829.818242
                                                      ...
Wire Rope Cable Maint Sprv                        88634.010000
Worker's Comp Supervisor 1                        98807.242500
X-RAY LABORATORY AIDE                             47664.773077
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 1681, dtype: float64

Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [ ]:
salaries_df[salaries_df['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

58303.965